@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    user-select: none;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./BG.jpg");
    background-position: center;
    background-size: cover;
    font-family: Barlow Condensed;
}
#wrapper{
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    background-color: rgba(255,255,255,.2);
    backdrop-filter: blur(5px);
    border: 3px solid rgba(255,255,255,.1);
}
.calculator{
    padding: 20px;
}
.screen{
    color: white;
    font-size: 50px;
    padding: 0 15px;
    direction: rtl;
    margin-bottom: 20px;
}

.calc-body{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,50px);
    gap: 20px;
}
.calc-body div{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: white;
    transition: font .1s;
}
.calc-body div:hover{
    font-size: 40px;
}